<body class="body">
    <header class="header">
        <div class="left">DIVE INTO CODE</div>
        
        <ul class="right">
            <li><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></li>
            <li><%= link_to "Edit", edit_user_registration_path %></li>
            <li><%= link_to "お問い合わせ", inquiry_path %></li>
            <li><%= link_to "ブログ", blogs_path %></li>
        </ul>
    </header>
<div class="top">
    <h2>すべての人がテクノロジーという武器を</h2>
    <p>dive into code</p>
</div>
</body>