<div class="jumbotron">
  <h1>achieve</h1>
  <p>「経験０からWebエンジニアになる」</p>
  <p>achieveは、目標達成を支援するWebアプリケーションです</p>
<% if user_signed_in? %>
<% else %>
<p>
    <a href="users/auth/twitter" class="btn btn-lg btn-social btn-twitter"><i class="fa fa-twitter"></i>twitter認証　</a>
    <a href="users/auth/facebook" class="btn btn-lg btn-social btn-facebook"><i class="fa fa-facebook"></i>facebook認証</a> 
</p>
<% end %>

    
</div>

<!-- link_to "facebook認証", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg", class: "fa fa-facebook" %> -->
