<%= will_paginate @user %>

<% provide(:title, 'All users') %>

<h1>ユーザ一覧</h1>

<% @user.each do |user| %>
  <div class="thumbnail">
    <ul class="users">
	    <%= render user %>
	  </ul>
  
  <%= profile_img(user) %>

  </div>
<% end %>

<%= will_paginate @user %>
