<% @user.each do |user| %>
<div class="thumbnail">
  
  <% if user.image.present? %>
    <%= image_tag(user.image, :width => "70") %>
  <% else %>
    <%= profile_img(user) %>
  <% end %>
      
      <div class="caption">
        <h3><%= user.name %></h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
</div>
<% end %>
