<%= will_paginate @user %>

<% @user.each do |user| %>
<div class="thumbnail">
  
    <%= profile_img(user) %>

      
      <div class="caption">
        <h3><%= user.name %></h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
</div>
<% end %>

<%= will_paginate @user %>
