// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
    margin:0;
    background-image:url("back.jpg");
    background-size:cover;
}
.jumbotron {
    background: #000 url("top.jpg") center center;
    background-size:cover;
    h1,p {
        color:white;
        text-align:center;
        margin-top:20px;
    }
}
 
@import "bootstrap-social";
@import "font-awesome";